/*
Theme Name: CHMCE Theme V6.1
Description: Incorporating changes from OPCSTM menu upgrades
Author: Five More Talents
Author URI: http://www.fivemoretalents.com/
Version: 6
Template: genesis
Template Version: 2.1.2
*/

/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:none}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ## Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

body {
	color: #00132c;
	background: #eeeeee;
	font-family: 'Open Sans', sans-serif, Helvetica;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6em;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	-ms-word-wrap: break-word;
word-wrap: break-word;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

a {
	color: #00132c;
	text-decoration: none;
}

a:hover {
	color: #0084b4;
	text-decoration: underline;
}

p {
	margin: 0 0 16px;
	padding: 0;
}

ol,
ul {
	margin: 0 0 12px;
	padding: 0 0 0 24px;
	line-height: 2em;

}

ol {
	list-style: decimal;
}

ul {
	list-style: disc outside url("images/black-arrow.png");
}

li {

}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.content h1 {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    text-decoration: none;
}
.content h2 {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    text-decoration: none;
}
.content h3 {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    text-decoration: none;
}
.content h4 {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    text-decoration: none;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 4px;
}

.gallery img:hover {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

/*
input,
select,
textarea {
	background-color: #fff;
	color: #333;
	font-weight: 300;
	padding: 6px;
	width: 100%;
	border: none;
}
*/
input:focus,
textarea:focus {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #333;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: 300;
	padding: 6px;
	text-transform: uppercase;
	width: auto;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: #0084b4;
	color: #fff;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	background-color: #0084b4;
	color: #fff;
}

.entry-content .button:hover {
	color: #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover {
	background-color: #fff;
	color: #333;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 400;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}

/* ## Basic Structure
--------------------------------------------- */

.site-container {

}

.content-sidebar-wrap {
	margin: 12px 0;
}


/* ## Header
--------------------------------------------- */

.site-header {
	border-bottom: 9px double #fff;
}

.site-header .wrap {
	background: #ffffff;
	margin-bottom: 12px;
}

.site-logo {
	float: left;
	margin: 0 12px;
	width: 38px;
}

.site-title {
	font-size: 14px;
	line-height: 16px;
	font-family: "Open Sans", sans-serif, Helvetica;
	font-variant: small-caps;
	padding: 6px 0;
	height: 60px;
}

.site-title a {
	color: inherit;
	text-decoration: none;
}

.site-description {
	display: none;
}

.header-widget-area {
	float: right;
	text-align: left;
}

aside.header-widget-area img {
	margin-top: 0px;
}

/* ## Navigation
--------------------------------------------- */

.menu-primary {
	list-style: none;
	padding: 0;
}

.responsive-menu {
	background: #00142d;
	color: #fff;
	display: none;
	width: 100%;
}

.responsive-menu .wrap {
	background: transparent;
	margin: 0;
}

.responsive-menu.responsive-menu-open {

}

.responsive-menu .menu-item {
	padding: 12px;
	width: 100%;
	border-bottom: 1px solid #fff;
}

.responsive-menu .menu-item:last-of-type {
	border: none;
}

.responsive-menu a {
	color: #fff;
}

.responsive-menu .sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}

.responsive-menu .sub-menu .menu-item {
	border: none;
}

.responsive-menu-button {
	width: 36px;
	height: 48px;
	float: right;
	margin: 6px 12px;
	background: url(images/labeled-menu-icon.png);
}

/* ## Inner
--------------------------------------------- */

.site-inner {
	padding: 0 12px;
}

.entry-title {
	font-size: 20px;
	margin: 0;
}

.entry-meta {
	font-size: 12px;
}

.page .entry-title {
	font-size: 22px;
	margin-bottom: 12px;
	font-weight: 700;
}

.content {
	background: #fff;
	border: solid 1px #ddd;
	border-radius: 7px;
	padding: 12px;
}

.content article {
	overflow: auto;
}

.content section {
	width: 100%;
}

.home .content section:first-of-type {
	margin: 0;
	width: 100%;
}

.breadcrumb {
	text-align: left;
	margin-bottom: 12px;
}

/* ## Sidebars
--------------------------------------------- */

.sidebar {
	margin: 12px 0;
}

.sidebar section:first-of-type {
	margin-top: 0;
}

.widget {
	margin: 12px 0;
}

.widget-title,
.widget-title a {
	font-size: 20px;
	color: #006731;
}

.sidebar input[type="search"] {
	width: 100%;
	padding: 12px;
}

.sidebar input[type="submit"] {
	width: 100%;
	padding: 12px;
}

/* ## Footer
--------------------------------------------- */

.site-footer {
	border-top: 8px solid #006731;
	background: #00142D;
	color: #fff;
	padding: 12px;
	font-size: 12px;
}

.site-footer ul,
.site-footer ol,
.site-footer li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-footer .wrap {
	overflow: auto;
}

.site-footer a {
	color: #fff;
	border-bottom: 1px solid #707070;
}

.site-footer a:hover {
	border-bottom: 1px solid #0084b4;
	color: #0084b4;
	text-decoration: none;
}

.site-footer section {
	width: 100%;
	margin: 12px 0;
	float: left;
}

.site-footer section:first-of-type {
	margin: 0;
}

.site-footer .footer-flag {
	text-align: right;
}

.site-footer .footer-flag:after {
	content: url(images/logo-mono.svg);
	width: 49px;
	display: inline-block;
}

.site-footer .widget-title,
.site-footer .widget-title a {
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
}

/* ## Home Page
--------------------------------------------- */

.home .content {
	background: transparent;
	border: none;
	padding: 0;
	border-radius: 0;
	box-sizing: border-box;
}

.header-widget-area {
	display: none;
}

span.topBubble {
	background: #ffffff;
	border-radius: 7px;
	padding: 8px;
	display: inline-block;
	float: left;
	margin-left: 15px;
}

.topBubble.email-list:before {
	content: "\f488";
	display: inline-block;
	width: 20px;
	height: 19px;
	margin-right: 6px;
	float: left;
	font: normal 20px/1 'dashicons';
	color: #cccccc;
}

.topBubble.opc-near-you:before {
	content: "\f231";
	display: inline-block;
	width: 20px;
	height: 19px;
	margin-right: 6px;
	float: left;
	font: normal 20px/1 'dashicons';
	color: #cccccc;
}

.home .content section {
	margin-bottom: 0;
}

.latest-issue-link {
line-height: 2em;
padding-right: 13px;
background: url("images/blue-arrow.png") center right no-repeat;
}

.latest-issue-link-topic {
font-weight: 700;
}

.pagination {
	text-align: center;
}

.pagination ul {
	list-style: none;
}
.pagination li {
	display: inline-block;
	margin: 0 6px;
}

.read-more-link {
	background: url("images/blue-arrow.png");
	width: 7px;
	height: 11px;
	display: inline-block;
	margin-left: 12px;
}

.home .widget_listcategorypostswidget {
	background: #dddddd;
	padding: 12px;
	overflow: auto;
}

.home .widget_listcategorypostswidget .widget-wrap > a {
	float: right;
	font-weight: 700;
	padding-right: 13px;
	background: url("images/blue-arrow.png") center right no-repeat;
}

.home .sidebar-primary ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.home .sidebar-primary li {
	padding: 6px 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #c0c0c0;
}

.home .sidebar-primary li:first-of-type {
border-top: none;
}

.home .sidebar-primary li:last-of-type {
border-bottom: none;
}

.home .sidebar-secondary .menu {
	margin: 0;
	padding: 0;
}

.home .sidebar-secondary .menu-item {
	padding: 8px;
	background: #dddddd;
	list-style: disc outside url("images/blue-arrow.png");
	list-style-position: inside;
	margin-bottom: 6px;
}

.custom-widget-image {
position: relative;
line-height: 0;
}

.custom-widget-image img {
	width: 100%;
	height: auto;
}

.custom-widget-image-bar {
position: absolute;
left: 0;
bottom: 0;
right: 0;
margin: 0;
padding: 6px;
color: #fff;
background-color: rgba(0,0,0,.6);
line-height: 1em;
font-weight: 700;
}

.custom-widget-image-bar a {
color: #fff;
}

.home-widget-drop-menu {
	position: absolute;
	left: 0;
	top: 26px;
	list-style: none;
	margin: 0;
	padding: 6px;
	min-width: 200px;
	background: #dddddd;
	color: #000;
	display: none;
	z-index: 100;
}

.home-widget-drop-menu a {
	color: #000;
}

.home-widget-drop-menu-button {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 6px;
	font-weight: 400;
}

	.responsive-menu .menu-item-has-children:before {
	content: url(images/arrow.png);
	float: right;
	height: 16px;
	padding: 4px 0 8px;
	right: 0;
	text-align: right;
	z-index: 9999;
	color: #000;
	}

@media only screen and (min-width: 382px) {

	.site-title {
		line-height: 48px;
		padding: 0;
		height: 60px;
	}

}

@media only screen and (min-width: 640px) {

	.site-title {
		font-size: 18px;
	}

	.site-inner {
		overflow: auto;
		margin: 12px 0;
	}

	.content-sidebar-wrap {
		margin: 0;
	}

	.sidebar-primary {
		width: 50%;
		padding-right: 6px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		float: left;
	}

	.content-sidebar .sidebar-primary {
		width: 100%;
		padding: 0;
		float: none;
	}

	.sidebar-secondary {
		width: 50%;
		padding-left: 6px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		float: right;
	}

.home .content section {
	width: 50%;
	float: left;
}

.home .content section:nth-of-type(2) {
	padding-right: 6px;
}

.home .content section:nth-of-type(3) {
	padding-left: 6px;
}

.site-footer section {
	width: 50%;
	margin: 12px 0;
	float: left;
}

.site-footer section:nth-of-type(odd) {
	padding-right: 6px;
}

.site-footer section:nth-of-type(even) {
	padding-left: 6px;
}

.site-footer .footer-flag {
	float: right;
	width: 50%;
	padding-left: 6px;
}

}

@media only screen and (min-width: 1024px) {

	.site-description {
		color: #333;
		margin-left: 100px;
		display: block;
		font-size: 16px;
		line-height: 16px;
	}

	.site-header,
	.site-inner,
	.site-footer .wrap {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.site-header .wrap {
		background: transparent;
	}

	.title-area {
		width: 850px;
	}

	.site-logo {
		width: 105px;
		margin: 0 22px;
	}

	.site-title {
		font-size: 18px;
		color: #333;
		margin-left: 100px;
		line-height: 1em;
		padding-top: 20px;
	}


	.header-widget-area {
		display: block;
		height: 70px;
	}

	.header-widget-area section {
		height: 70px;
		margin: 12px 0 0;
	}

	.site-inner {
		padding: 0;
	}

	.home .content section {
		width: 100%;
		float: left;
	}

	.home .content section:nth-of-type(2),
	.home .content section:nth-of-type(3) {
		padding: 0;
	}

	/* Nav */
	.responsive-menu-button {
		display: none;
	}

	.nav-primary {
		display: block;
		background: #fff;
		width: 100%;
		height: 50px;
		font-size: 0;
	}

	.nav-primary .menu-item {
		display: inline-block;
		width: auto;
		background: transparent;
		padding: 0;
		position: relative;
		border: none;
	}

	.nav-primary .menu-item:hover > .sub-menu {
		display: block;
		opacity: 1;
	}

	.nav-primary a {
		display: block;
		width: auto;
		color: #00142d;
		padding: 18px 14px;
		font-size: 14px;
		line-height: 14px;
	}

	.nav-primary a:hover {
		color: #fff;
		background: #444;
		text-decoration: none;
	}

	.nav-primary .sub-menu {
		display: none;
		opacity: 0;
		position: absolute;
		top: 50px;
		left: 0;
		background: #444;
		margin: 0;
		padding: 0;
		text-align: left;
		font-size: 0;
		z-index: 3;
        list-style: none;
	}

	.nav-primary .sub-menu .menu-item:hover {
	}

	.nav-primary .sub-menu a {
		min-width: 200px;
		color: #fff;
		font-size: 14px;
	}

	.nav-primary .sub-menu a:hover {
		background: #0084b4;
	}

	/* Content */

	.content-sidebar-wrap {
		float: left;
	}

	.content {
		width: 400px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		float: right;
		margin: 0 15px;
	}

	.breadcrumb {
		width: 400px;
	}

	.content-sidebar .content {
		width: 680px;
		float: left;
		margin: 0 15px 0 0;
	}

	.content-sidebar .breadcrumb {
		width: 680px;
	}

	.full-width-content .content {
		width: 960px;
		margin: 0;
	}

	.full-width-content .breadcrumb {
		width: 960px;
	}

	/* Sidebars */

	.sidebar {
		width: 265px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		padding: 0;
		margin: 0;
	}

	.content-sidebar .sidebar {
		width: 265px;
		float: right;
	}

	.sidebar input[type="search"] {
		width: 180px;
		padding: 6px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		margin-right: 15px;
	}

	.sidebar input[type="submit"] {
		width: 70px;
		padding: 6px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
	}

	.site-footer section {
		width: 231px;
		padding: 0;
		margin: 0 0 0 12px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
	}

	.site-footer .footer-flag {
		width: 231px;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
	}

}

@media only screen and (min-width: 1200px) {

	.site-title {
		font-size: 24px;
	}

	.site-header,
	.site-inner,
	.site-footer .wrap{
		width: 1140px;
	}

	.content {
		width: 580px;
	}

	.breadcrumb {
		width: 580px;
	}

	.content-sidebar .content {
		width: 860px;
	}

	.content-sidebar .breadcrumb {
		width: 860px;
	}

	.full-width-content .content {
		width: 1140px;
	}

	.full-width-content .breadcrumb {
		width: 1140px;
	}

	.nav-primary a {
		padding-left: 24px;
		padding-right: 24px;
	}

	.site-footer section {
		width: 276px;
	}

	.site-footer .footer-flag {
		width: 276px;
	}

	.nav-primary a {
		padding: 18px 28px;
	}
}

@media only screen and (min-width: 1366px) {

	.site-title {
		font-size: 28px;
	}

	.site-header,
	.site-inner,
	.site-footer .wrap,
	.full-width-content .content {
		width: 1313px;
	}

	.full-width-content .breadcrumb {
		width: 1313px;
	}

	.content {
		width: 753px;
	}

	.breadcrumb {
		width: 753px;
	}

	.content-sidebar .content {
		width: 1033px;
	}

	.content-sidebar .breadcrumb {
		width: 1033px;
	}

	.site-footer section,
	.site-footer .footer-flag {
		width: 310px;
	}

	.home .content section {
		width: 50%;
		float: left;
	}

	.home .content section:nth-of-type(2) {
		padding-right: 6px;
	}

	.home .content section:nth-of-type(3) {
		padding-left: 6px;
	}

}

@media only screen and (min-width: 1440px) {

	.site-header,
	.site-inner,
	.site-footer .wrap,
	.full-width-content .content {
		width: 1400px;
	}

	.full-width-content .breadcrumb {
		width: 1400px;
	}

	.content {
		width: 840px;
	}

		.breadcrumb {
		width: 840px;
	}

	.content-sidebar .content {
		width: 1120px;
	}

	.content-sidebar .breadcrumb {
		width: 1120px;
	}

	.site-footer section,
	.site-footer .footer-flag {
		width: 341x;
	}

}

@media print {
	.nav-primary,
	.breadcrumb,
	.sidebar,
	.site-footer {
		display: none;
	}
}
